FeeService/src/main/resources/contract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
          <!-- XML Schema Generated from XML Document on Mon Oct 17 2016 11:05:59 GMT+0200 (CEST) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
       <xs:element name="contract">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="identifier" type="xs:int"></xs:element>
                            <xs:element name="version" type="xs:int"></xs:element>
                            <xs:element name="source" type="xs:string"></xs:element>
                            <xs:element name="systemDate" type="xs:int"></xs:element>
                            <xs:element name="systemTime" type="xs:string"></xs:element>
                            <xs:element name="event" type="xs:string"></xs:element>
                            <xs:element name="family" type="xs:string"></xs:element>
                            <xs:element name="group" type="xs:string"></xs:element>
                            <xs:element name="type" type="xs:string"></xs:element>
                            <xs:element name="counterParty" type="xs:string"></xs:element>
                            <xs:element name="grossFee" type="xs:int"></xs:element>
                        </xs:sequence>
                 </xs:complexType>
          </xs:element>
</xs:schema>